/* your styles go here */
/* .foot{
  background: #0e0e0e; */
  /* padding: 100px 0 0; */
  /* color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */
/**
 * Demo Styles
 */

 .stylechange {
   padding-top: 200px;
 }

.search_style {
  
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.foot {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}


/**
 * Footer Styles
 */

.footerDiv {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ede7e3;
  text-align: center;
}
